header {
  background-color: var(--primary-color);
}

html {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  flex-wrap: wrap;
}

@media screen and (min-width: 60em) {
  body {
    flex-direction: row;
  }
}

header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
}

@media screen and (min-width: 60em) {
  header {
    flex-basis: 38.2%;
    border-bottom: 0;
    /* border-right: 1px solid rgba(0,0,0,0.2); */
  }
}

header h1, header h2 {
  font-weight: normal;
  margin-top: 0;
}

header hgroup h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--line-height-body);
}

header hgroup h1 a.base {
  color: rgb(var(--text-color));
  font-weight: bold;
  text-decoration: none;
}

header .logo {
  display: block;
  width: var(--line-height-body);
  height: var(--line-height-body);
  margin-right: 8px;
  background: linear-gradient(to bottom,
    #f57335 25%,
    hsla(19, 91%, 63%, 1) 25%, hsla(19, 91%, 63%, 1) 40%,
    hsla(19, 91%, 68%, 1) 40%, hsla(19, 91%, 68%, 1) 50%,
    hsla(19, 91%, 73%, 1) 40%, hsla(19, 91%, 73%,1) 75%,
    hsla(19, 91%, 78%, 1) 75%);
}

header p {
  max-width: 24em;
}

header .actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .actions button, header .actions a.button {
  margin-bottom: 0.5em;
}

.license {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
  padding: 1em;
  box-sizing: border-box;
  min-width: 0; /* to contain pre */
}

@media screen and (min-width: 60em) {
  main {
    min-height: calc(100vh - 40px - 2em);
    flex-basis: 61.8%;
    /* justify-content: center; */
  }
}

wd-toc {
  margin-top: calc(2 * var(--line-height-body));
}

footer {
  padding: 1em;
  width: 100vw;
  box-sizing: border-box;
}
