@font-face {
  font-family: "SF Pro Display";
  src: url('https://early-fox-61.deno.dev/sf-pro-display_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('https://early-fox-61.deno.dev/sf-pro-display_bold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_light.woff2') format('woff2');
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_regular-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('https://early-fox-61.deno.dev/sf-pro-text_bold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "SF Ar";
  src: url('https://early-fox-61.deno.dev/sf-ar_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Mono";
  src: url('https://early-fox-61.deno.dev/sf-mono_regular.woff') format('woff');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Mono";
  src: url('https://early-fox-61.deno.dev/sf-mono_bold.woff') format('woff');
  font-weight: bold;
  font-display: fallback;
}

:root {
  --type-mono: "SF Mono", monospace;
  --type-display: "SF Pro Display", "SF Ar", sans-serif;
  --type-body: "SF Pro Text", "SF Ar", sans-serif;
  --background-color: 255, 255, 255;
  --text-color: 37, 37, 36;
  --primary-color: transparent;
  --accent-color: 45, 112, 171;
  --border-radius: 3px;
  --text-decoration-color: 0, 208, 193;
  --amethyst: rgb(116, 109, 155);
  --malachite: rgb(20, 146, 101);
  --lapis-lazuli: rgb(45, 112, 171);
  --rv21: rgb(255,188,206);
  --g21: rgb(177,199,144);
  --b21: rgb(164,218,239);
  --pink: rgb(255,45,85);
  --green: rgb(40,205,65);
  --blue: rgb(0,122,255);
}

/* Hyperlinks: LVFHA */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  text-decoration-color: rgba(var(--accent-color), 1);
  transition: none;
}

a:visited {
  color: rgb(var(--text-color));
}

a:hover, a:active {
  color: rgb(var(--accent-color));
  text-decoration-color: rgb(var(--accent-color));
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-body);
  margin-bottom: var(--line-height-body);
}

h1 {
  margin-bottom: 0;
}

/* header */
header a.base {
  color: rgb(var(--text-color));
  font-weight: bold;
  text-decoration: none;
}

header .logo {
  background: url(https://important-deer-81.deno.dev/img/about/profile_sm.webp), linear-gradient(90deg, var(--lapis-lazuli), rgb(141 206 255));
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

header .tagline {
  font-weight: 300;
  font-size: smaller;
}

/* header links */
header #main-links a, header #main-links a:link, header #main-links a:visited {
  color: rgba(0,0,0,.25);
  display: flex;
  align-items: center;
}

header #main-links a:hover, header #main-links a:active {
  color: rgba(var(--accent-color),.8);
}

header #main-links button {
  border: 0 none;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  padding: 0;
}

header #main-links button:hover {
  background-color: transparent;
  color: rgba(var(--accent-color),.8);
}

header #main-links .symbol {
  padding-top: 0;
}

@media screen and (max-width: 60em) {
  header #main-links a, header #main-links a:link, header #main-links a:visited {
    color: rgba(0,0,0,0.2);
  }

  header #main-links a, header #main-links button, header #main-links a.button {
    padding: 8px;
    height: auto;
    color: rgba(0,0,0,0.2);
    border-radius: 50%;
  }
  
  header #main-links a:first-child {
    padding-left: 0;
  }
  
  header #main-links button:last-child {
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
  }
}

/* buttons */
button, input[type="button"], a.button {
  --button-color: 255, 255, 255;
  --opacity-hover: 1;
  --opacity-active: 0.24;
  align-items: center;
  margin-bottom: 0.5em;
  padding-bottom: 2px;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 4px;

  font-feature-settings: normal;
  font-variant-caps: all-small-caps;
  gap: 4px;
}

button:hover, input[type="button"]:hover, a.button:hover {
  background-color: rgba(var(--text-color), var(--opacity-hover));
  color: rgb(var(--background-color));
  transition: none;
}

button:active, input[type="button"]:active, a.button:active {
  color: rgb(var(--background-color));
  background-color: rgba(0, 0, 0, var(--opacity-active));
}

@media screen and (max-width: 60em) {
  button, input[type="button"], a.button {
    height: calc(1.5 * var(--line-height-body));
  }
}

/* icons */
.symbol {
  padding-top: 2px;
}

.scaled.symbol {
  width: var(--font-size-body);
  max-height: var(--font-size-body);
}

#header .actions {
  & a.button .symbol, & button .symbol, & input.button .symbol {
    width: 20px;
    flex-shrink: 0;
  }

  & a.button .txt, & button .txt, & button .symbol {
    flex-grow: 1;
  }
}

/* bookshelf */
.bookshelf ad-card img {
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  max-height: 200px;
  border-radius: calc(2*var(--border-radius));
}

.bookshelf ad-card::part(title), .bookshelf ad-card::part(subtitle) {
  font-size: 12px;
}

.bookshelf ad-card::part(subtitle) {
  font-weight: 300;
}
