header a.base {
  color: rgb(var(--text-color));
  font-weight: bold;
  text-decoration: none;
}

header .logo {
  display: block;
  width: var(--line-height-body);
  height: var(--line-height-body);
  margin-right: 8px;
  background: linear-gradient(to bottom,
    #f57335 25%,
    hsla(19, 91%, 63%, 1) 25%, hsla(19, 91%, 63%, 1) 40%,
    hsla(19, 91%, 68%, 1) 40%, hsla(19, 91%, 68%, 1) 50%,
    hsla(19, 91%, 73%, 1) 40%, hsla(19, 91%, 73%,1) 75%,
    hsla(19, 91%, 78%, 1) 75%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
  font-size: var(--font-size-body);
}

h2, h3, h4, h5, h6 {
  margin-bottom: var(--line-height-body);
}

@font-face {
  font-family: "SF Pro Display";
  src: url('/fonts/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "SF Pro Text";
  src: url('/fonts/sf-pro-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Cascadia Code";
  src: url('/fonts/CascadiaCode.woff2') format('woff2');
  font-display: fallback;
}

:root {
  --type-mono: "Cascadia Code", monospace;
  --type-display: "SF Pro Display", sans-serif;
  --type-body: "SF Pro Text", sans-serif;
  --background-color: 255, 255, 255;
  --text-color: 37, 37, 36;
  --primary-color: transparent;
  --accent-color: 33, 129, 177;
  --border-radius: 0;
  --text-decoration-color: 0, 208, 193;
}

/* Hyperlinks: LVFHA */
a, a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  text-decoration-color: rgba(var(--accent-color), 1);
  transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

a:visited {
  color: rgb(var(--text-color));
}

a:hover, a:active {
  color: rgb(var(--accent-color));
  text-decoration-color: rgb(var(--accent-color));
}

/* buttons */
button, input[type="button"], a.button {
  --button-color: 255, 255, 255;
  --opacity-hover: 0.12;
  --opacity-active: 0.24;
  align-items: center;
  margin-bottom: 0.5em;
  font-family: var(--type-display);
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  border-radius: 4px;

  font-feature-settings: normal;
  font-variant-caps: all-small-caps;
}

button:hover, input[type="button"]:hover, a.button:hover {
  color: rgb(var(--text-color));
  background-color: rgba(0, 0, 0, var(--opacity-hover));
}

button:active, input[type="button"]:active, a.button:active {
  background-color: rgba(0, 0, 0, var(--opacity-active));
}

@media screen and (max-width: 60em) {
  button, input[type="button"], a.button {
    padding: 0 16px;
    height: calc(2 * var(--line-height-body));
  }
}

/* icons */
.material-icons {
  vertical-align: middle;
  width: var(--font-size-body);
  font-variant-caps: normal;
}

button .material-icons, a.button .material-icons {
  margin-right: 8px;
}
